<section id="work" class="portfolio-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            Portfolio
          </h3>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="col-md-4">
          <div class="work-box" (click)="open(0)">
            <div class="work-img">
              <img src="assets/img/harmony-psych/1.png" alt="Image 1" class="img-fluid">
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">Harmony Psych</h2>
                  <div class="w-more">
          <span class="w-category">Ce site web pour un cabinet, développé en PHP, JavaScript, HTML, CSS et Bootstrap, propose deux sessions : admin et patient. Les administrateurs peuvent gérer les utilisateurs, les rendez-vous, les consultations, et accéder à un tableau de bord détaillé. Les patients peuvent gérer leur profil, leurs rendez-vous, consulter leur historique médical, et laisser des avis. Cette plateforme intuitive et fonctionnelle améliore la gestion du cabinet et l'expérience utilisateur pour les patients et les administrateurs.
          </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box" (click)="openFlyCar(0)">
            <div class="work-img">
              <img src="assets/img/fly-car/1.png" alt="Image 1" class="img-fluid">
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">FLy CAr</h2>
                  <div class="w-more">
          <span class="w-category">Le projet FlyCar a été développé en utilisant Angular pour le front-end, et Spring
            Boot pour le back-end, avec Spring Security pour assurer la sécurité des données et Java Mail pour la
            gestion des courriels. L'interface utilisateur est conçue avec Angular Material, offrant une expérience
            utilisateur moderne et réactive. Cette application complète permet la gestion des utilisateurs, des
            véhicules, des réservations, des paiements et des cartes, tout en assurant des fonctionnalités sécurisées
            d'inscription et de connexion.
          </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box" (click)="openSteg(0)">
            <div class="work-img">
              <img src="assets/img/steg/1.png" alt="Image 1" class="img-fluid">
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">STEG</h2>
                  <div class="w-more">
          <span class="w-category">Le projet STEG est une plateforme de gestion des demandes comprenant quatre sessions :
            Administrateur, Client, DDI, et DPTE/Guichet. Les clients peuvent soumettre des demandes et vérifier leur statut.
            L'administrateur, quant à lui, attribue les demandes aux départements appropriés (DDI, DPTE, ou Guichet), gère
            les documents associés et imprime les demandes. Développé avec Spring, Spring Security, et JWT pour l'authentification,
            ainsi qu'avec Angular pour l'interface utilisateur, ce système assure une gestion efficace et sécurisée des processus,
            améliorant ainsi l'expérience utilisateur et la productivité interne.
          </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
